<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Coffee" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
  <div class="logo">
      <img src="">
  </div>
  <nav>
      <ul>
          <li><%= link_to "Home", root_path %></li>      
          <li><a href="#menu">Thực Đơn</a></li>
          <li><a href="#about">Giới Thiệu</a></li>
          
          <% if !user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path %></p></li>
          <% end %>
          <% if user_signed_in? %>
          <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %></li>
          <% end %>
          
      </ul>
  </nav>
</header>

  
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 Quán Cafe XYZ. Tất cả quyền được bảo lưu.</p>
        <div class="contact-info">
            <p>Địa chỉ: 123 Đường Coffee, Thành phố H</p>
            <p>Điện thoại: (012) 345-6789</p>
            <p>Email: info@quancafexyz.com</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
        </div>
    </div>
</footer>
  </body>
</html>
